<div class="card">
    
    <div class="card-body">
  
        <div class="row">
            <div class="col-8"><h4 class="card-title">Sipon Hossain<br/><small>Graduate in Software Design and Development.</small> </h4>
              <p class="card-text"></p>
              <a href="https://github.com/bdsipon/" class="btn btn-success">Github Link</a></div>
  
  
            <div class="col-4">
                <h6 class="card-title">Quick Contact:</h6>
                <p class="card-text">Email:sipon.here@gmail.com<br> Mobile: 0426373929</p>
              <p class="card-text"></p>
             </div>
            
          </div>
      
      
    </div>
    <div class="card-header">
     </div>
  
      <div class="card-columns">
         
  
     
    
          
         
          
          </div>
          <div class="card p-3">
              <blockquote class="blockquote mb-0 card-body">
                <h4>About me:</h4>
                
                
                <p class="card-text"><small class="text-muted">Looking for a start in the exciting world of software engineering where I can learn clean code and realise a lifetime ambition. I like coffee, car and travelling.
                  Also,I enjoy to learn new technologies. </small></p>
              </blockquote>
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                  <p>Teritary Qualification</p>
                  <footer class="blockquote-footer">
                    <small class="text-muted">
                        Master of Information Technology | 2015 – 2017,
                        Central Queensland University,
                        Major: Software Design & Development
                    </small>
                  </footer>
                </blockquote>
              </div>
       
          <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Latest Project:</h4>
                <p class="text-muted">It is a online shopping web application where admin can be able to create,read,update and delete the products.
                  <br/> Tool Used : Visual Studio Code<br/>
                  Languages and technologies: Angular 4.0, Typescript,CSS3,HTML5,Bootstrap and Firebase .<br/>
                  <a href="https://github.com/bdsipon/Angular4-Practise/tree/master/oshop" type="button" class="btn btn-outline-success ">Github Link</a>
                    </p>
       
             
            </div>
            <div class="card text-left">
                <div class="card-body">
                  <h4 class="card-title">Skills</h4>
      
                  <div class="progress">
                      
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Angular4.0<span>-Professional | Actively learning</span></div>
                      </div>
                      <br/>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Bootstrap<span>-Professional </span></div>
                      </div>
                      <br/>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">HTML5 & CSS3<span>-Professional </span></div>
                      </div>
                      <br/>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Typescript<span>- Actively learning</span></div>
                      </div>
                      <br/>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">C# & Firebase<span>- Good Knowledge</span></div>
                      </div>
                      <br/>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">MVC 5 & ASP.NET Core<span>- Familiar</span></div>
                      </div>
                      <br/>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> Entity  framework core<span>- Familiar</span></div>
                      </div>
                </div>
            </div>
        </div>
  </div>